<div class="add-Profile">
    <form class="create-form">   
         <div class="col-md-6 col-lg-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"></span>
                </div>
                <input type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="basic-addon1">
              </div>
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Age" aria-label="Age" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Weight" aria-label="Weight" aria-describedby="basic-addon1">
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Height" aria-label="Height" aria-describedby="basic-addon1">
                  </div>          
        <input id="new-Profile" type="text" placeholder="Enter new Profile">
        <button type="submit" id="submit-Profile">Submit New Profile</button>
    </form>
</div>
