.jumbotron {
  background-position: center;
}

.jumbotron2 {
  background-image: url("https://cdn.pixabay.com/photo/2015/03/28/10/21/diet-695723_960_720.jpg");
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center;
}


.list-group-item {
  line-height: 2.5;
}

#logoType{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20vh;
  font-weight: 900;
  color: orangered;
}

#logoTypeSmall{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8vh;
  font-weight: 600;
  color: white;
}
#logoTypeSmall{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8vh;
  font-weight: 600;
  color: black;
}

.container{
  min-height: 99vh;
    position: absolute;
    top: 0px;
    display: block;
  
}

#mainBackground{
  min-width: 99%;
  position: absolute;
  top: 0px;
}

.btn{
  position: relative;
  margin: 0 auto;
}

.start{
  position: absolute;
  right: 18px;
  top: 10px;
}


.white{
  color: white;
}

.addFont{
  font-size: 30px;
}



.navbar{
  position: static;
  top: 0px;
  
  z-index: 2;
}

.profile{
  display: inline;
  position: absolute;
  
}

.profileImg{
  max-height: 50px;
}

.profileBg{
  max-width: 99%;
}

.collapse{
  min-height: 90vh;
}

.body-text{
  color: black;
}

.navbar-collapse{
  background-color: white;
}

.white{
  color: black;
}

.mainContent{
  top: 30vh;
  position: absolute;
}

.start{
  z-index: 2;
}

.forward{
  z-index: 3;
  position: absolute;
}

.carousel-inner{
  height: 50%;
  min-height: 50vh; 
  position: absolute;
  display:block;
  opacity: .9;
}

.articles{
  top: 50vh;
  height: 50vh;
  position: relative;
}
